
body {
  background-color: #eee4e4; 
  font-family:'Times New Roman', Times, serif;
  margin: 45px;
}


h1 {
  color: gray; 
  text-align: center;
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
}


p {
  color: #555;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  line-height: 1.6; 
  background: white;
  padding: 15px;
  border-left: 5px solid #2ecc71;
}